# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.venv/
env/
*.egg-info/
dist/
build/
.eggs/

# Tests / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# GitLab CI
.gitlab-ci-local/
